<% var title = 'CEAI-Cadastro de Participantes' %>
<% include head %>
<img src="../images/CEAI.png" alt="Retrieve and Rank API Icon" style="align:center ;width: 267px; height: 78px; ">
<h2 style="font-size: 1.95312em; font-weight: 700; color: #d74108">
   Cadastro de Participantes
</h2>
<h1>Login</h1>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Entrar">
  </p>
</form>

<% include foot %>